{% load bootstrap4 %}

<div class="modal-header">
        <h4 class="modal-title">Assinar {{processo.tipo_processo}}</h4>
</div>
<form method="post" class="js-assinatura-form" action="{% url 'core:assinar-envio-processo' processo.id %}">
    {% csrf_token %}
    <div class="modal-body">
        {% bootstrap_form form %}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="enviar">
            <i class="fas fa-file-signature" aria-hidden="true"></i> Assinar</button>
        <button type="button" class="btn btn-danger" id="close_modalAssinar" data-dismiss="modal">
            <i class="fas fa-times-circle" aria-hidden="true"></i> Cancelar</button>
    </div>
</form>