{% extends 'authentication/layout/base.html' %}
{% load bootstrap4 %}
{% block conteudo %}
<div class="justify-content-center">
    <div class="jumbotron col-sm-9" style="margin: 0 auto;">
        <h1 class="display-4">Confirmação</h1>
        <p class="lead">A criação da sua conta no CADU foi criada com sucesso. Agora você já pode usufruir dos sistema que o usam para autenticação.</p>
        <hr class="my-4">
        <p>Por gentileza clique no botão abaixo para voltar ao sistema de chamados técnicos - GLPI.</p>
        <a class="btn btn-primary btn-lg" href="http://glpi.ifac.edu.br" role="button">Clique aqui</a>
    </div>
</div>
{% endblock conteudo %}